* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Rockwell";
  src: url("fonts/Rockwell.woff2") format("woff2"), url("fonts/Rockwell.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rockwell";
  src: url("fonts/Rockwell-Bold.woff2") format("woff2"), url("fonts/Rockwell-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../images/bg.jpg) fixed center 0 no-repeat;
  background-size: 1200px 849px;
}

ul {
  padding: 0;
  margin: 0;
}

#popup-wrap {
  background-color: rgba(43, 9, 70, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.popup {
  max-width: 290px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -145px;
  margin-top: -400px;
  text-align: center;
}

.logo {
  max-width: 180px;
}

.popup-main {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  margin: 30px 0 0;
}

form fieldset {
  display: none;
  border: none;
}

form fieldset.active {
  display: inline-block;
  width: 100%;
}

.title-h4 {
  font-size: 22px;
  padding: 0 0 30px;
  margin: 0;
}

.title-h5 {
  font-size: 14px;
}

.title-h5 span {
  font-weight: 400;
}

.steps-ul li {
  list-style: none;
  padding: 0 0 50px;
}

.steps-ul li h6 {
  padding: 0 0 20px;
  position: relative;
  display: inline-block;
}

.tick {
  font-size: 18px;
  border-radius: 50px;
  background-color: #0096a5;
  color: #fff;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.next-btn {
  border: none;
  background-color: #0096a5;
  width: 100%;
  display: block;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.check-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 110px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.check-ul li {
  list-style: none;
  width: 47%;
}

.check-ul label {
  cursor: pointer;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 40px 0;
  font-weight: normal;
  background-color: #fff;
  border: 2px solid #999;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  display: block;
}

.check-ul li [type="radio"] {
  display: none;
}

.check-ul li label:hover,
.check-ul li input[type="radio"]:checked + label {
  background-color: #0096a5;
  border-color: #0096a5;
  color: #fff;
}

.title-h6 {
  font-size: 12px;
  font-weight: 400;
}

.camera-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.camera-ul li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 240px;
  margin: 30px 0;
  border-radius: 10px;
}

.camera-ul h6 {
  position: relative;
  display: inline-block;
}

.otp-ul {
  display: block;
  padding: 50px 0 80px;
}

.otp-ul li {
  list-style: none;
}

.input-box {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #999;
  padding: 12px 15px;
  text-align: center;
}

.input-box:focus, .input-box:active {
  outline: none;
}
/*# sourceMappingURL=style.css.map */