* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Rockwell";
  src: url("fonts/Rockwell.woff2") format("woff2"),
    url("fonts/Rockwell.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rockwell";
  src: url("fonts/Rockwell-Bold.woff2") format("woff2"),
    url("fonts/Rockwell-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../images/bg.jpg) fixed center 0 no-repeat;
  background-size: 1200px 849px;
}
ul {
  padding: 0;
  margin: 0;
}

#popup-wrap {
  background-color: rgba($color: #2b0946, $alpha: 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.popup {
  max-width: 280px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -140px;
  margin-top: -300px;
  text-align: center;
}
.logo {
  max-width: 180px;
}
.popup-main {
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  margin: 30px 0 0;
}
form {
  fieldset {
    display: none;
    border: none;
    &.active {
      display: inline-block;
      width: 100%;
    }
  }
}

.title-h4 {
  font-size: 22px;
  padding: 0 0 30px;
  margin: 0;
}
.title-h5 {
  font-size: 14px;
  span {
    font-weight: 400;
  }
}
.steps-ul {
  li {
    list-style: none;
    padding: 0 0 50px;
    h6 {
      padding: 0 0 20px;
      position: relative;
      display: inline-block;
    }
  }
}
.tick {
  font-size: 18px;
  border-radius: 50px;
  background-color: #0096a5;
  color: #fff;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
}
.next-btn {
  border: none;
  background-color: #0096a5;
  width: 100%;
  display: block;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.check-ul li {
  display: inline-block;
  label {
    cursor: pointer;
    font-size: 14px;
    color: #22282f;
    margin: 0;
    padding: 7px 20px;
    font-weight: normal;
    background-color: #fff;
    border: 1px solid #e2e9f3;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 1;
  }
}
.check-ul li [type="radio"] {
  display: none;
}
.check-ul li label:hover,
.check-ul li input[type="radio"]:checked + label {
  background-color: #ffce6f;
  border-color: #ffce6f;
}
.check-ul li label:hover::before,
.check-ul li input[type="radio"]:checked + label::before {
  background-color: #ffce6f;
  opacity: 0.12;
  position: absolute;
  z-index: -1;
  content: "";
  left: -7px;
  right: -7px;
  top: -7px;
  bottom: -7px;
  border-radius: 30px;
}
